<%-include('./shared/header.ejs')%>
<section class="post container my-5">
    <div class="postForm w-75 my-auto">
        <form method="POST" action="/updatepost/<%=post._id%>" enctype="multipart/form-data">
            <h2 class="text-center my-2">update post</h2>
<div class="form-group my-2">
    <input type="text" class="form-control" name="title" placeholder="Title" value="<%=post.title %>">
</div>
<div class="form-group my-2">
    <input type="text" class="form-control" name="desc" placeholder="description" value="<%= post.desc %>">
</div>
<div class="form-group my-2">
    <input type="file" class="form-control" name="image">
</div>
<div class="form-group my-2">
    <button type="submit" class="btn btn-info w-100" >update</button>
</div>

        </form>
    </div>
</section>

<%-include('./shared/footer.ejs')%>
